

/* ==========================================================================
Popup
========================================================================== */


.overlay{
  @include size(100%, 100%);
  @include flex(center, center, column);
  @include absolute();
  background-color: rgba(0,0,0,0.4);
  overflow: hidden;
  z-index: 100;
  position: fixed;
  top:0;
  left: 0;
}


.popup{
  @include size(auto,400px);
  @include shadow;
}

.popup-header{
  @include flex(center, center ,row);
  @include size(auto, 100%);
  position:relative;
  background-color: white;
  border-radius: 4px 4px 0 0;
  padding: 20px;
  font-size: 14px;
  font-weight: 500;
  border-bottom: 1px solid $border-color-3;
  line-height: 10px;

  &:hover::before, &:hover::after{
    background-color:$font-color-1;
  }

  &:hover{
    cursor: pointer;
  }

  &::before, &::after{
  content:'';
  @include absolute(18px,'',23px);
  @include size(14px, 2px);
  border-radius: 3px;
  display: block;
  background-color: $font-color-3;
  }

  &::before{
    transform: rotate(45deg);
  }
  &::after{
    transform: rotate(-45deg);
  }
}

.popup-body{
  @include size(auto,100%);
  @include flex(center, flex-start, column);
  @include inputs;
  padding: 30px 20px;
  background-color: white;
  max-height: 500px;

  overflow-y: scroll;

  h1{
    font: $h3;
    line-height: 1.6;
    margin-bottom: 10px;
    margin-top: -8px;
    width: 100%;
  }

  h3{
    font: $h3;
    line-height: 1.5;
    font-weight: 400;
    margin-bottom: 15px;
    margin-top: -8px;
    width: 100%;
    code{
      background-color: $light-blue-3;
      color:$dark-blue-3;
      border-radius: 3px;
      padding: 0 5px;
    }
  }

  p{
    line-height: 1.5;
    margin-bottom: -6px;
    color: $font-color-2;
  }

  .separator{
    @include size(1px, 100%);
    background-color: $border-color-3;
    margin: 30px 0;
    flex-shrink: 0;
  }

  .file-button{
    @include size(32px, auto);
    @include secondary;
    border-radius: 0 4px 4px 0;
    flex-shrink: 0;
  }

  .primary{
    @include size(32px, 100%);
    @include primary;
    margin-top: 20px;
    flex-shrink: 0;
  }

  .secondary{
    @include size(32px, 100%);
    @include secondary;
    margin-top: 20px;
    flex-shrink: 0;
  }

  input.confirm-deletion{
    margin-top: 20px;
    margin-bottom: 0;
  }


  .delete{
    border-radius: 4px;
    border: none;
    margin-top: 20px;
    background-color: $red-1;
    &:hover{
      background-color: $dark-red-3;
    }
  }


  code{
    background-color: $light-blue-3;
    color:$dark-blue-3;
    border-radius: 3px;
    padding: 2px 5px;
    font-size: 12px;
    text-align: left;
    margin: 0 auto 10px 0;
  }

  .money{
    font:$h1;
    font-weight: 200;
    color:$font-color-1;
    margin-top: 10px;
    margin-bottom: 40px;
    background: none;
    width: 100%;
    text-align: center;
    justify-content: center;
    &::before{
      content: '$';
    }
    &::after{
      content: '.00';
    }
  }


  .term{
    @include secondary;
    margin-top: 10px;
    margin-bottom: 20px;
    padding:0;
    height: 32px;
    border-radius: 0 4px 4px 0;
    border-left: none;
    line-height: 30px;
    padding-left: 10px;
    width: 30%;
  }
  input[type="number"], .term {
    margin-bottom: 10px !important;
  }

}


.banner{
  @include size(40px, 100%);
  @include flex(center,'','');
  padding:8px 20px;
  line-height: 10px;
  color: $dark-green-3;
  font-weight: 400;
  z-index: 1;
  background-color: $light-green-3;
}

.error-ban{
  color:$dark-red-3;
  background-color: $light-red-3;
}


.popup-footer{
  @include flex(center,flex-end,row);
  @include size(72px, 100%);
  border-radius:
  0   0
  4px 4px;
  border-top: 1px solid $border-color-3;
  background-color: white;
  padding: 20px;

  .primary{
    @include primary;
    border: 1px solid transparent;
    height: 32px;
    flex-shrink: 0;
  }

  .secondary{
    @include secondary;
    height: 32px;
    box-sizing: border-box;
    margin-right: 10px;
    flex-shrink: 0;
  }

}

#redeem-input{
  @include transition(all);
}

input[type="file"]{
  display: none;
}

.upload-file{
  width: 100%;
  position: relative;
  flex-shrink: 0;
  @include flex(center, space-between, row);
  .file-button{
    @include secondary;
    @include size(32px, auto);
    border-radius: 0 4px 4px 0;
    border-left:none;
    border-color: $border-color-1;
  }

  .discount{
    position: absolute;
    right: 0px;
    top:-16px;
  }

  input#path2.path{
    margin: 0;
    display: flex;
    flex-grow: 1;
    border-radius: 4px 0 0 4px;
  }
}

select{
  width: 140px;
  @include secondary;
  display: flex;
  flex-grow: 1;
  height: 32px;
  line-height: 9pt;
  padding: 8px 15px;
  -webkit-appearance:none;
  text-align: left;
  position: relative;
  background: url('data:image/svg+xml;utf8,<svg viewBox="0 0 16 8" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path d="M5.35618788,2.22742546 C5.7117555,2.65410659 5.55628335,3 5.00019251,3 L1.99980749,3 C1.44762906,3 1.28678179,2.65586185 1.64381212,2.22742546 L3.18337327,0.379952073 C3.35824139,0.170110337 3.64889956,0.178679466 3.81662673,0.379952073 L5.35618788,2.22742546 Z M1.64381212,5.77257454 C1.2882445,5.34589341 1.44371665,5 1.99980749,5 L5.00019251,5 C5.55237094,5 5.71321821,5.34413815 5.35618788,5.77257454 L3.81662673,7.62004793 C3.64175861,7.82988966 3.35110044,7.82132053 3.18337327,7.62004793 L1.64381212,5.77257454 Z" fill="#637286"></path></svg>') no-repeat right center #fff;
  background-size: 16px 8px
}



.tax-block{
  @include size(14px, 100%);
  @include flex(center, center, row);
  input{
    maring:0;
  }
  p{
    flex-grow: 1;
    height: 10px;
    margin-left: 10px;
    margin-bottom: 0;
    line-height: 9pt;
  }
}

.show{
  animation: shows 600ms $animation 100ms forwards;
}

.peek{
  animation: hides 600ms $animation forwards;
}

.appear{
  animation: appear 600ms $animation 100ms forwards;
}

.disappear{
  animation: disappear 600ms $animation forwards;
}

.term{
  -webkit-appearance: none;}


.second{
  &::after{
    content: '';
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.30);
    border-radius: 4px;
  }
  animation: layer 600ms $animation 100ms forwards;
}
