

/* ==========================================================================
Table
========================================================================== */


table{
  width: 100%;
  margin: 0;
  padding: 0;
  border-collapse: collapse;
}

th, td{
  height: 40px;
  border-bottom: 1px solid $border-color-3;
  margin: 0;
  padding: 0;
  text-align: left;
  padding: 15px;
  box-sizing: border-box;
}

tr{
  margin: 0;
  padding: 0;

  &:last-child{
   td{border-bottom: 1px solid transparent;}
  }
}

th{
  font:$p-alt;
  color:$font-color-2;
  font-size: 12px;
  font-weight: 500;
  &:not(:last-child){
    border-right: 1px solid $border-color-3;
  }
}

td{
  &:nth-child(2){
    width: 500px;
  }

  input{
    margin-right: 10px;
  }

  span{
    color:$font-color-3;
  }

  &:focus{
    border: 1px double $blue-1;
    outline: none;
  }

}


.table-wrapper{
  position:relative;
  @include size(auto, 100%);
  background-color: $white;
  border-radius: 4px;
  margin-bottom: 30px;
  @include transition(shadow);
  &:hover{
    @include shadow();
  }
}

.right{
  text-align: right;
  width: 70px;
}

.table-title{
  width: 100%;
  @include flex(center, space-between, row);
  font-weight: 500;
}

a{
  @include link();
  font-weight: 500;
  @include transition(opacity);
}
