/* ==========================================================================
Table
========================================================================== */
table {
  width: 100%;
  margin: 0;
  padding: 0;
  border-collapse: collapse;
}

th, td {
  height: 40px;
  border-bottom: 1px solid #F2F4F6;
  margin: 0;
  padding: 0;
  text-align: left;
  padding: 15px;
  box-sizing: border-box;
}

tr {
  margin: 0;
  padding: 0;
}

tr:last-child td {
  border-bottom: 1px solid transparent;
}

th {
  font: 400 14px/10px "nutanix_soft", san-serif;
  color: #627386;
  font-size: 12px;
  font-weight: 500;
}

th:not(:last-child) {
  border-right: 1px solid #F2F4F6;
}

td:nth-child(2) {
  width: 500px;
}

td input {
  margin-right: 10px;
}

td span {
  color: #7C8D9F;
}

td:focus {
  border: 1px double #22A5F7;
  outline: none;
}

.table-wrapper {
  position: relative;
  height: auto;
  width: 100%;
  box-sizing: border-box;
  background-color: #FFFFFF;
  border-radius: 4px;
  margin-bottom: 30px;
  transition: shadow 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.table-wrapper:hover {
  box-shadow: 0 9px 9px 0 rgba(0, 0, 0, 0.02), 0 3px 3px 0 rgba(0, 0, 0, 0.02), 0 1px 1px 0 rgba(0, 0, 0, 0.02);
}

.right {
  text-align: right;
  width: 70px;
}

.table-title {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  font-weight: 500;
}

a {
  color: #22A5F7;
  font: 400 14px/10px "nutanix_soft", san-serif;
  text-decoration: none;
  font-weight: 500;
  transition: opacity 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

a:hover {
  cursor: pointer;
  text-decoration: underline;
}

/* ==========================================================================
Popup
========================================================================== */
.overlay {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  right: "";
  background-color: rgba(0, 0, 0, 0.4);
  overflow: hidden;
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
}

.popup {
  height: auto;
  width: 400px;
  box-sizing: border-box;
  box-shadow: 0 9px 9px 0 rgba(0, 0, 0, 0.02), 0 3px 3px 0 rgba(0, 0, 0, 0.02), 0 1px 1px 0 rgba(0, 0, 0, 0.02);
}

.popup-header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  height: auto;
  width: 100%;
  box-sizing: border-box;
  position: relative;
  background-color: white;
  border-radius: 4px 4px 0 0;
  padding: 20px;
  font-size: 14px;
  font-weight: 500;
  border-bottom: 1px solid #F2F4F6;
  line-height: 10px;
}

.popup-header:hover::before, .popup-header:hover::after {
  background-color: #22272E;
}

.popup-header:hover {
  cursor: pointer;
}

.popup-header::before, .popup-header::after {
  content: '';
  position: absolute;
  top: 18px;
  left: "";
  right: 23px;
  height: 14px;
  width: 2px;
  box-sizing: border-box;
  border-radius: 3px;
  display: block;
  background-color: #7C8D9F;
}

.popup-header::before {
  transform: rotate(45deg);
}

.popup-header::after {
  transform: rotate(-45deg);
}

.popup-body {
  height: auto;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  padding: 30px 20px;
  background-color: white;
  max-height: 500px;
  overflow-y: scroll;
}

.popup-body input:not([type=checkbox]):not([type=radio]):not([type=file]) {
  height: 32px;
  width: 100%;
  box-sizing: border-box;
  border-radius: 4px;
  border: 1px solid #B8BFCA;
  padding: 11px 10px;
  color: #22272E;
  font: 400 14px/10px "nutanix_soft", san-serif;
  position: relative;
}

.popup-body input:not([type=checkbox]):not([type=radio]):not([type=file]):not(:last-child) {
  margin-bottom: 20px;
}

.popup-body input:not([type=checkbox]):not([type=radio]):not([type=file]):focus {
  outline: none;
  border-color: #22A5F7;
}

.popup-body input:not([type=checkbox]):not([type=radio]):not([type=file])::-webkit-input-placeholder {
  padding-top: 4px;
  vertical-align: middle;
  color: #D5DAE0;
}

.popup-body label {
  font: 400 12px/8px "nutanix_soft", san-serif;
  text-align: left;
  width: 100%;
  font-weight: 500;
  color: #627386;
  margin-bottom: 10px;
}

.popup-body h1 {
  font: 500 14px/10px "nutanix_soft", san-serif;
  line-height: 1.6;
  margin-bottom: 10px;
  margin-top: -8px;
  width: 100%;
}

.popup-body h3 {
  font: 500 14px/10px "nutanix_soft", san-serif;
  line-height: 1.5;
  font-weight: 400;
  margin-bottom: 15px;
  margin-top: -8px;
  width: 100%;
}

.popup-body h3 code {
  background-color: #e9f6fe;
  color: #1f88de;
  border-radius: 3px;
  padding: 0 5px;
}

.popup-body p {
  line-height: 1.5;
  margin-bottom: -6px;
  color: #627386;
}

.popup-body .separator {
  height: 1px;
  width: 100%;
  box-sizing: border-box;
  background-color: #F2F4F6;
  margin: 30px 0;
  flex-shrink: 0;
}

.popup-body .file-button {
  height: 32px;
  width: auto;
  box-sizing: border-box;
  border: 1px solid #D5DAE0;
  border-radius: 4px;
  padding: 11px 15px;
  color: #22272E;
  font: 400 14px/10px "nutanix_soft", san-serif;
  text-decoration: none;
  background-color: #FFFFFF;
  margin: 0;
  outline: none;
  border-radius: 0 4px 4px 0;
  flex-shrink: 0;
}

.popup-body .file-button:hover {
  color: #22A5F7;
  cursor: pointer;
}

.popup-body .file-button:active {
  color: #91d2fb;
}

.popup-body .file-button span {
  height: 10px;
  display: block;
  font-weight: 500;
  line-height: 9pt;
}

.popup-body .primary {
  height: 32px;
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  border-radius: 4px;
  padding: 11px 15px;
  color: #FFFFFF;
  font: 400 14px/10px "nutanix_soft", san-serif;
  font-weight: 500;
  border: none;
  text-decoration: none;
  background-color: #22A5F7;
  outline: none;
  margin-top: 20px;
  flex-shrink: 0;
}

.popup-body .primary:hover {
  color: #FFFFFF;
  cursor: pointer;
  background-color: #1f88de;
}

.popup-body .primary:active {
  color: #FFFFFF;
  background-color: #1b6dc6;
}

.popup-body .primary span {
  height: 10px;
  display: block;
  font-weight: 500;
  line-height: 9pt;
}

.popup-body .secondary {
  height: 32px;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #D5DAE0;
  border-radius: 4px;
  padding: 11px 15px;
  color: #22272E;
  font: 400 14px/10px "nutanix_soft", san-serif;
  text-decoration: none;
  background-color: #FFFFFF;
  margin: 0;
  outline: none;
  margin-top: 20px;
  flex-shrink: 0;
}

.popup-body .secondary:hover {
  color: #22A5F7;
  cursor: pointer;
}

.popup-body .secondary:active {
  color: #91d2fb;
}

.popup-body .secondary span {
  height: 10px;
  display: block;
  font-weight: 500;
  line-height: 9pt;
}

.popup-body input.confirm-deletion {
  margin-top: 20px;
  margin-bottom: 0;
}

.popup-body .delete {
  border-radius: 4px;
  border: none;
  margin-top: 20px;
  background-color: #F55656;
}

.popup-body .delete:hover {
  background-color: #dd4d57;
}

.popup-body code {
  background-color: #e9f6fe;
  color: #1f88de;
  border-radius: 3px;
  padding: 2px 5px;
  font-size: 12px;
  text-align: left;
  margin: 0 auto 10px 0;
}

.popup-body .money {
  font: 200 29px/20px "nutanix_soft", san-serif;
  font-weight: 200;
  color: #22272E;
  margin-top: 10px;
  margin-bottom: 40px;
  background: none;
  width: 100%;
  text-align: center;
  justify-content: center;
}

.popup-body .money::before {
  content: '$';
}

.popup-body .money::after {
  content: '.00';
}

.popup-body .term {
  border: 1px solid #D5DAE0;
  border-radius: 4px;
  padding: 11px 15px;
  color: #22272E;
  font: 400 14px/10px "nutanix_soft", san-serif;
  text-decoration: none;
  background-color: #FFFFFF;
  margin: 0;
  outline: none;
  margin-top: 10px;
  margin-bottom: 20px;
  padding: 0;
  height: 32px;
  border-radius: 0 4px 4px 0;
  border-left: none;
  line-height: 30px;
  padding-left: 10px;
  width: 30%;
}

.popup-body .term:hover {
  color: #22A5F7;
  cursor: pointer;
}

.popup-body .term:active {
  color: #91d2fb;
}

.popup-body .term span {
  height: 10px;
  display: block;
  font-weight: 500;
  line-height: 9pt;
}

.popup-body input[type="number"], .popup-body .term {
  margin-bottom: 10px !important;
}

.banner {
  height: 40px;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: "";
  flex-direction: "";
  padding: 8px 20px;
  line-height: 10px;
  color: #31bb67;
  font-weight: 400;
  z-index: 1;
  background-color: #ebfaf0;
}

.error-ban {
  color: #dd4d57;
  background-color: #feeeee;
}

.popup-footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: row;
  height: 72px;
  width: 100%;
  box-sizing: border-box;
  border-radius: 0   0 4px 4px;
  border-top: 1px solid #F2F4F6;
  background-color: white;
  padding: 20px;
}

.popup-footer .primary {
  margin: 0;
  border-radius: 4px;
  padding: 11px 15px;
  color: #FFFFFF;
  font: 400 14px/10px "nutanix_soft", san-serif;
  font-weight: 500;
  border: none;
  text-decoration: none;
  background-color: #22A5F7;
  outline: none;
  border: 1px solid transparent;
  height: 32px;
  flex-shrink: 0;
}

.popup-footer .primary:hover {
  color: #FFFFFF;
  cursor: pointer;
  background-color: #1f88de;
}

.popup-footer .primary:active {
  color: #FFFFFF;
  background-color: #1b6dc6;
}

.popup-footer .primary span {
  height: 10px;
  display: block;
  font-weight: 500;
  line-height: 9pt;
}

.popup-footer .secondary {
  border: 1px solid #D5DAE0;
  border-radius: 4px;
  padding: 11px 15px;
  color: #22272E;
  font: 400 14px/10px "nutanix_soft", san-serif;
  text-decoration: none;
  background-color: #FFFFFF;
  margin: 0;
  outline: none;
  height: 32px;
  box-sizing: border-box;
  margin-right: 10px;
  flex-shrink: 0;
}

.popup-footer .secondary:hover {
  color: #22A5F7;
  cursor: pointer;
}

.popup-footer .secondary:active {
  color: #91d2fb;
}

.popup-footer .secondary span {
  height: 10px;
  display: block;
  font-weight: 500;
  line-height: 9pt;
}

#redeem-input {
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

input[type="file"] {
  display: none;
}

.upload-file {
  width: 100%;
  position: relative;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

.upload-file .file-button {
  border: 1px solid #D5DAE0;
  border-radius: 4px;
  padding: 11px 15px;
  color: #22272E;
  font: 400 14px/10px "nutanix_soft", san-serif;
  text-decoration: none;
  background-color: #FFFFFF;
  margin: 0;
  outline: none;
  height: 32px;
  width: auto;
  box-sizing: border-box;
  border-radius: 0 4px 4px 0;
  border-left: none;
  border-color: #B8BFCA;
}

.upload-file .file-button:hover {
  color: #22A5F7;
  cursor: pointer;
}

.upload-file .file-button:active {
  color: #91d2fb;
}

.upload-file .file-button span {
  height: 10px;
  display: block;
  font-weight: 500;
  line-height: 9pt;
}

.upload-file .discount {
  position: absolute;
  right: 0px;
  top: -16px;
}

.upload-file input#path2.path {
  margin: 0;
  display: flex;
  flex-grow: 1;
  border-radius: 4px 0 0 4px;
}

select {
  width: 140px;
  border: 1px solid #D5DAE0;
  border-radius: 4px;
  padding: 11px 15px;
  color: #22272E;
  font: 400 14px/10px "nutanix_soft", san-serif;
  text-decoration: none;
  background-color: #FFFFFF;
  margin: 0;
  outline: none;
  display: flex;
  flex-grow: 1;
  height: 32px;
  line-height: 9pt;
  padding: 8px 15px;
  -webkit-appearance: none;
  text-align: left;
  position: relative;
  background: url('data:image/svg+xml;utf8,<svg viewBox="0 0 16 8" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path d="M5.35618788,2.22742546 C5.7117555,2.65410659 5.55628335,3 5.00019251,3 L1.99980749,3 C1.44762906,3 1.28678179,2.65586185 1.64381212,2.22742546 L3.18337327,0.379952073 C3.35824139,0.170110337 3.64889956,0.178679466 3.81662673,0.379952073 L5.35618788,2.22742546 Z M1.64381212,5.77257454 C1.2882445,5.34589341 1.44371665,5 1.99980749,5 L5.00019251,5 C5.55237094,5 5.71321821,5.34413815 5.35618788,5.77257454 L3.81662673,7.62004793 C3.64175861,7.82988966 3.35110044,7.82132053 3.18337327,7.62004793 L1.64381212,5.77257454 Z" fill="#637286"></path></svg>') no-repeat right center #fff;
  background-size: 16px 8px;
}

select:hover {
  color: #22A5F7;
  cursor: pointer;
}

select:active {
  color: #91d2fb;
}

select span {
  height: 10px;
  display: block;
  font-weight: 500;
  line-height: 9pt;
}

.tax-block {
  height: 14px;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.tax-block input {
  maring: 0;
}

.tax-block p {
  flex-grow: 1;
  height: 10px;
  margin-left: 10px;
  margin-bottom: 0;
  line-height: 9pt;
}

.show {
  animation: shows 600ms cubic-bezier(0.165, 0.84, 0.44, 1) 100ms forwards;
}

.peek {
  animation: hides 600ms cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

.appear {
  animation: appear 600ms cubic-bezier(0.165, 0.84, 0.44, 1) 100ms forwards;
}

.disappear {
  animation: disappear 600ms cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

.term {
  -webkit-appearance: none;
}

.second {
  animation: layer 600ms cubic-bezier(0.165, 0.84, 0.44, 1) 100ms forwards;
}

.second::after {
  content: '';
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 4px;
}

body, html {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font: 400 14px/10px "nutanix_soft", san-serif;
  text-rendering: optimizeSpeed;
  text-rendering: optimizeLegibility;
  text-rendering: geometricPrecision;
  -webkit-font-smoothing: antialiased;
  background-color: #F2F4F6;
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

hr {
  background-color: #F2F4F6;
  border: none;
  height: 1px;
  margin: 20px 0;
}

.sct-sep {
  width: calc(100% + 60px);
  margin-left: -30px;
  background-color: #F2F4F6;
}

p {
  font: 400 14px/22px "nutanix_soft", san-serif;
}

h1 {
  font: 200 29px/20px "nutanix_soft", san-serif;
  line-height: 1.2;
}

h2 {
  font: 400 18px/12px "nutanix_soft", san-serif;
  line-height: 1.5;
  margin: 0;
}

h3 {
  font: 500 14px/10px "nutanix_soft", san-serif;
}

h4 {
  font: 400 12px/8px "nutanix_soft", san-serif;
}

input[type='radio'] {
  margin-right: 10px;
}

span {
  padding-left: 20px;
}

.primary {
  margin: 0;
  border-radius: 4px;
  padding: 11px 15px;
  color: #FFFFFF;
  font: 400 14px/10px "nutanix_soft", san-serif;
  font-weight: 500;
  border: none;
  text-decoration: none;
  background-color: #22A5F7;
  outline: none;
}

.primary:hover {
  color: #FFFFFF;
  cursor: pointer;
  background-color: #1f88de;
}

.primary:active {
  color: #FFFFFF;
  background-color: #1b6dc6;
}

.primary span {
  height: 10px;
  display: block;
  font-weight: 500;
  line-height: 9pt;
}

.secondary {
  border: 1px solid #D5DAE0;
  border-radius: 4px;
  padding: 11px 15px;
  color: #22272E;
  font: 400 14px/10px "nutanix_soft", san-serif;
  text-decoration: none;
  background-color: #FFFFFF;
  margin: 0;
  outline: none;
}

.secondary:hover {
  color: #22A5F7;
  cursor: pointer;
}

.secondary:active {
  color: #91d2fb;
}

.secondary span {
  height: 10px;
  display: block;
  font-weight: 500;
  line-height: 9pt;
}

.col {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
}

header {
  height: 60px;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  background-color: #22272E;
}

header svg {
  height: 16px;
  width: 22px;
  box-sizing: border-box;
  fill: #4D5969;
}

article {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: row;
  padding: 30px;
}

.card {
  background-color: white;
  box-shadow: 0 9px 9px 0 rgba(0, 0, 0, 0.02), 0 3px 3px 0 rgba(0, 0, 0, 0.02), 0 1px 1px 0 rgba(0, 0, 0, 0.02);
  border-radius: 4px;
  padding: 30px;
}

.alt {
  color: #627386;
  font-weight: 400;
}

.ln {
  line-height: 1.5;
}

.fw {
  width: 100%;
}

.spc {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: row;
}

.section-title h3 {
  margin: 0;
}

.section-body {
  margin-top: 10px;
  border-left: 2px solid #F2F4F6;
}

.alignment {
  margin-left: 28px;
  margin-top: -10px;
}

#sidebar {
  height: 100%;
  width: 280px;
  box-sizing: border-box;
}

#final-price {
  margin: 0;
}

#selection {
  height: 100%;
  width: 400px;
  box-sizing: border-box;
  margin-right: 20px;
}
